/* 5-column layout
 * For 480 px mobiles, narrow browsers, and landscape iPhones. */

@media only screen and (max-width: 767px) and (min-width: 480px) {
  body {
    @include grid(5);
    @include mobile-safari;
}
h1 { @include big; }
h2 { @include normal; }
h3 { @include small; }
div#articles { float: left; width: 100%; }
aside#sidebar { float: left; width: 100%;}
aside#about #summary { float: left; width: 100%; }
aside#about #summary ul { padding: 0; margin: 0; }
aside#about #contact { float: left; width: 100%; }
}
